<div id="main_settings">
{% ifequal user.settings.search_in_contacts_filter 'all' %}

{% if browser.mobile %}
<a href="/settings">Switch to friends and family only</a>.

{% else %}
You are currently checking for recent uploads from all your contacts. <a href="/settings">Switch to friends and family only</a>.
{% endif %}

{% else %}

{% if browser.mobile %}
<a href="/settings">Switch to all your contacts</a>.
{% else %}
You are currently checking for recent uploads from friends and family only. <a href="/settings">Switch to all your contacts</a>.
{% endif %}

{% endifequal %}
</div>
