<div class="slice">
	<div class="slice_label">
          <span class="slice_inthelast">in the last</span>
          <span class="slice_amountoftime">
	    &#160;
            {% ifequal slice.duration '30m' %}30 minutes{% endifequal %}
            {% ifequal slice.duration '2h' %}2 hours{% endifequal %}
            {% ifequal slice.duration '4h' %}4 hours{% endifequal %}
	  </span>
	</div>

<div id="slice_contacts">

{% ifequal slice.count 0 %}
	<div class="slice_noone">Nothing new...</div>
{% else %}
{% for c in slice.contacts %}
	
	<div id="photos_{{ c.nsid_hex }}" class="photos_hex">

		<a href="#" onclick="window.ffbp.show_photos('{{ c.nsid|escape }}', '{{ slice.offset}}', '{{ slice.duration|escape }}');return false;">
          	<img id="buddy_{{ c.nsid_hex}}" src="{{ c.buddyicon }}" height="48" width="48" class="buddy_hex" style="border:3px solid #{{ c.nsid_short_hex}};" />
        	</a>

                <div id="count_thumbs_{{ c.nsid_hex }}" class="count_thumbs_hex">
                  <a href="http://www.flickr.com/photos/{{ c.nsid|escape }}" target="fl_{{ c.nsid_hex|escape }}">
                    {% ifequal c.count '1' %}
          	    <strong>1</strong> photo
                    {% else %}
                    <strong>{{ c.count|escape }}</strong> photos
                    {% endifequal %}
                  </a>
                </div>

        </div>

{% endfor %}

        <br clear="all" />

        <div class="status" id="status_{{ slice.duration|escape }}"></div>
        <div class="slice_thumbs" id="slice_thumbs_{{ slice.duration|escape }}"></div>

        <br clear="all" />
{% endifequal %}
</div>

</div>
