{% include "inc_head.html" %}

<script type="text/javascript" src="/javascript/ffbp.js"></script>

<script type="text/javascript">

  var ffbp_args = {
  	'host' : '{{ host_url }}',
  	'search_crumb' : '{{ search_crumb }}',
  	'contacts_crumb' : '{{ contacts_crumb }}',
  };

  window.ffbp = new info.aaronland.ffbp.Photos(ffbp_args);
	
</script>

{% ifequal browser.mobile 0 %}
<br /><br />
{% endifequal %}

{% for slice in slices %}
{% include "inc_main_contacts.html" %}
{% endfor %}

{% include "inc_main_settings.html" %}
{% include "inc_foot.html" %}
