{% include "inc_head.html" %}

<script>

  function show_photos(nsid, offset){

	$("#ffbp_status").html();
  	$("#ffbp_status").hide();

	var hex = hex_md5(nsid);
        var uid = "#photos_" + hex;

  	var buddy_icon = $("#buddy_" + hex)[0].src;

  	thumbs = $('[class=thumb_' + hex + ']');

  	if (thumbs.length){

  		for (i=0; i < thumbs.length; i++){
  			var id = thumbs[i].getAttribute('id');
                        var el = $("#" + id);

  		        if (el.css('display') == 'block'){
  			      el.hide();
                              continue;
  		        }

                        el.show();
                }

  		return;
  	}

  	var api_args = {
		'host' : '{{ host_url }}',
  	};

  	var search_args = {
		'user_id' : nsid,
  		'min_upload_date' : offset,
  		'format' : 'json',
  		'crumb' : '{{ search_crumb|escape }}',
  	};

  	var api = new info.aaronland.flickrapp.API(api_args)

  	api.api_call('search', search_args, function (rsp){

		$("#ffbp_status").html();
  		$("#ffbp_status").hide();

                $("#buddy_" + hex)[0].src = buddy_icon;

  		var short_hex = hex.substring(0, 6);
  		var html = '';

  		if (rsp.photos.photo.length == 0){
		        $("#ffbp_status").html("Foiled again! The Flickr API returns no photos for that user.");
  		        $("#ffbp_status").show();
                        return;
  		}


  		for (i in rsp.photos.photo){
  			var ph = rsp.photos.photo[i];

                        var sz = 75;

  			var link = 'http://www.flickr.com/photos/' + ph['owner'] + '/' + ph['id'];
  			var src = 'http://farm' + ph['farm'] + '.static.flickr.com/' + ph['server'] + '/' + ph['id'] + '_' + ph['secret'] + '_s.jpg';

  			var img = '<a href="' + link + '" target="_fl' + ph['id'] + '">';
                        img += '<img src="' + src + '" height="' + sz + '" width="' + sz + '" style="border:3px solid #' + short_hex + ';" />';
                        img += '</a>';

  			var html = '<div id="thumb_' + ph['id'] + '" class="thumb_' + hex + '" style="margin-right:10px;margin-bottom:20px; float:left">';
                        html += img;
                        html += '<div style="margin-top:12px;font-style:italic;text-align:center;font-size:10px;color:auto;">' + ph['title'].substring(0, 6) + '...</div>';
                        html += '</div>';

  			$(uid).append(html);
  		}

  	}, function (rsp) {

                $("#buddy_" + hex)[0].src = buddy_icon;

		$("#ffbp_status").html('Unable to retrieve any photos for that user. The attempt failed with the following message:<br /><br />' + rsp.error.message);
		$("#ffbp_status").show();
		return;
  	});

        $("#buddy_" + hex)[0].src = "/images/loading.gif";
                              
	$("#ffbp_status").html("Retrieving photos...");
  	$("#ffbp_status").show();
  }

</script>

{% if browser.mobile %}
{% else %}
<div style="height:20px;border:none;">
<div id="ffbp_status" style="z-index:100;"></div>
</div>
{% endif %}

{% for slice in slices %}
{% include "inc_main_contacts.html" %}
{% endfor %}

{% include "inc_main_settings.html" %}
{% include "inc_foot.html" %}
